# NOTE: This file is auto generated by OpenAPI Generator 7.19.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ProvidesAnAPIForTheLibpodLibrary.Api.System do
  @moduledoc """
  API calls for all endpoints tagged `System`.
  """

  alias ProvidesAnAPIForTheLibpodLibrary.Connection
  import ProvidesAnAPIForTheLibpodLibrary.RequestBuilder

  @doc """
  Show disk usage
  Return information about disk usage for containers, images, and volumes

  ### Parameters

  - `connection` (ProvidesAnAPIForTheLibpodLibrary.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemDataUsageLibpod200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_data_usage_libpod(Tesla.Env.client(), keyword()) ::
          {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemDataUsageLibpod200Response.t()}
          | {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response.t()}
          | {:error, Tesla.Env.t()}
  def system_data_usage_libpod(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/libpod/system/df")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ProvidesAnAPIForTheLibpodLibrary.Model.SystemDataUsageLibpod200Response},
      {500, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response}
    ])
  end

  @doc """
  Get events
  Returns events filtered on query parameters

  ### Parameters

  - `connection` (ProvidesAnAPIForTheLibpodLibrary.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:since` (String.t): start streaming events from this time
    - `:until` (String.t): stop streaming events later than this
    - `:filters` (String.t): JSON encoded map[string][]string of constraints
    - `:stream` (boolean()): when false, do not follow events

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_events_libpod(Tesla.Env.client(), keyword()) ::
          {:ok, nil}
          | {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response.t()}
          | {:error, Tesla.Env.t()}
  def system_events_libpod(connection, opts \\ []) do
    optional_params = %{
      :since => :query,
      :until => :query,
      :filters => :query,
      :stream => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/libpod/events")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response}
    ])
  end

  @doc """
  Get info
  Returns information on the system and libpod configuration

  ### Parameters

  - `connection` (ProvidesAnAPIForTheLibpodLibrary.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ProvidesAnAPIForTheLibpodLibrary.Model.Info.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_info_libpod(Tesla.Env.client(), keyword()) ::
          {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.Info.t()}
          | {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response.t()}
          | {:error, Tesla.Env.t()}
  def system_info_libpod(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/libpod/info")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ProvidesAnAPIForTheLibpodLibrary.Model.Info},
      {500, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response}
    ])
  end

  @doc """
  Ping service
  Return protocol information in response headers. `HEAD /libpod/_ping` is also supported. `/_ping` is available for compatibility with other engines. The '_ping' endpoints are not versioned. 

  ### Parameters

  - `connection` (ProvidesAnAPIForTheLibpodLibrary.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_ping(Tesla.Env.client(), keyword()) ::
          {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response.t()}
          | {:ok, String.t()}
          | {:error, Tesla.Env.t()}
  def system_ping(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/libpod/_ping")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response}
    ])
  end

  @doc """
  Prune unused data

  ### Parameters

  - `connection` (ProvidesAnAPIForTheLibpodLibrary.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemPruneLibpod200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_prune_libpod(Tesla.Env.client(), keyword()) ::
          {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemPruneLibpod200Response.t()}
          | {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response.t()}
          | {:error, Tesla.Env.t()}
  def system_prune_libpod(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/libpod/system/prune")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ProvidesAnAPIForTheLibpodLibrary.Model.SystemPruneLibpod200Response},
      {400, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response},
      {500, ProvidesAnAPIForTheLibpodLibrary.Model.SystemAuth500Response}
    ])
  end

  @doc """
  Component Version information

  ### Parameters

  - `connection` (ProvidesAnAPIForTheLibpodLibrary.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemVersionLibpod200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_version_libpod(Tesla.Env.client(), keyword()) ::
          {:ok, ProvidesAnAPIForTheLibpodLibrary.Model.SystemVersionLibpod200Response.t()}
          | {:error, Tesla.Env.t()}
  def system_version_libpod(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/libpod/version")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ProvidesAnAPIForTheLibpodLibrary.Model.SystemVersionLibpod200Response}
    ])
  end
end
